{% extends 'base.html.twig' %}

{% block title %}ItemForImport index{% endblock %}

{% block body %}
    <h1>ItemForImport index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Category</th>
                <th>Price</th>
                <th>Qty</th>
                <th>Brand</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for item_for_import in item_for_imports %}
            <tr>
                <td>{{ item_for_import.id }}</td>
                <td>{{ item_for_import.title }}</td>
                <td>{{ item_for_import.category }}</td>
                <td>{{ item_for_import.price }}</td>
                <td>{{ item_for_import.qty }}</td>
                <td>{{ item_for_import.brand }}</td>
                <td>{{ item_for_import.description }}</td>
                <td>
                    <a href="{{ path('item_for_import_show', {'id': item_for_import.id}) }}">show</a>
                    <a href="{{ path('item_for_import_edit', {'id': item_for_import.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('item_for_import_new') }}">Create new</a>
{% endblock %}
