{% extends 'base.html.twig' %}

{% block title %} Ebay Settings {% endblock %}

{% block body %}
    <div class="main-wrapper">
        <div class="app" id="app">
            {% include('layouts/header.html.twig') %}
            {% include('layouts/aside-nav.html.twig') %}
            <div class="sidebar-overlay" id="sidebar-overlay"></div>
            <div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
            <div class="mobile-menu-handle"></div>
            <article class="content dashboard-page">
                {% block content %}
                    {% if app.user.getOldEbayAuth is not null %}
                        <section class="section">
                            <ebay-charts inline-template v-cloak>
                                    <sales-chart></sales-chart>
                            </ebay-charts>
                        </section>
                        <section class="section">
                            <div class="row sameheight-container">
                                <div class="col col-12 col-sm-12 col-md-12 stats-col">
                                    <div class="row sameheight-container">
                                        <div class="col col-12 col-sm-12 col-md-6 col-xl-5 stats-col">
                                            <div class="card sameheight-item stats" data-exclude="xs">
                                                <div class="card-block">
                                                    <div class="title-block">
                                                        <h4 class="title"> My Summary </h4>
                                                    </div>
                                                    <div class="row row-sm stats-container">
                                                        <div class="col-12 col-sm-6 stat-col">
                                                            <div class="stat-icon">
                                                                <i class="fa fa-rocket"></i>
                                                            </div>
                                                            <div class="stat">
                                                                <div class="value"> {{ summaryData['active_list'] }} </div>
                                                                <div class="name"> Active items </div>
                                                            </div>
                                                            <div class="progress stat-progress">
                                                                <div class="progress-bar" style="width: 10%;"></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-sm-6 stat-col">
                                                            <div class="stat-icon">
                                                                <i class="fa fa-shopping-cart"></i>
                                                            </div>
                                                            <div class="stat">
                                                                <div class="value"> {{ summaryData['total_sold'] }} </div>
                                                                <div class="name"> Items sold </div>
                                                            </div>
                                                            <div class="progress stat-progress">
                                                                <div class="progress-bar" style="width: 25%;"></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-sm-6  stat-col">
                                                            <div class="stat-icon">
                                                                <i class="fas fa-chart-line"></i>
                                                            </div>
                                                            <div class="stat">
                                                                <div class="value"> {{ summaryData['total_sold_currency'] }} {{ summaryData['total_sold_value'] }} </div>
                                                                <div class="name"> Monthly income </div>
                                                            </div>
                                                            <div class="progress stat-progress">
                                                                <div class="progress-bar" style="width: 60%;"></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-sm-6  stat-col">
                                                            <div class="stat-icon">
                                                                <i class="fa fa-dollar"></i>
                                                            </div>
                                                            <div class="stat">
                                                                <div class="value">USD {{ lastMonthData['lastMonth']['soldValue'] }} </div>
                                                                <div class="name"> Last Month </div>
                                                            </div>
                                                            <div class="progress stat-progress">
                                                                <div class="progress-bar" style="width: 34%;"></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-sm-6  stat-col">
                                                            <div class="stat-icon">
                                                                <i class="fa fa-dollar"></i>
                                                            </div>
                                                            <div class="stat">
                                                                <div class="value"> {{ lastMonthData['lastMonth']['soldItems'] }} </div>
                                                                <div class="name"> Last Month Items sold</div>
                                                            </div>
                                                            <div class="progress stat-progress">
                                                                <div class="progress-bar" style="width: 49%;"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col col-12 col-sm-12 col-md-6 col-xl-7 history-col">
                                            <div class="card sameheight-item" data-exclude="xs" id="dashboard-history" style="height: 322px;">
                                                <div class="card-header card-header-sm bordered">
                                                    <div class="header-block">
                                                        <h3 class="title">History</h3>
                                                    </div>
                                                    <ul class="nav nav-tabs pull-right" role="tablist">
                                                        <li class="nav-item">
                                                            <a class="nav-link active" href="#visits" role="tab" data-toggle="tab">Visits</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" href="#downloads" role="tab" data-toggle="tab">Downloads</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="card-block">
                                                    <div class="tab-content">
                                                        <div role="tabpanel" class="tab-pane active fade show" id="visits">
                                                            <p class="title-description"> Number of unique visits last 30 days </p>
                                                            <div id="dashboard-visits-chart" style="position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><svg height="220" version="1.1" width="590" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="overflow: hidden; position: relative; left: -0.65625px;"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.2.0</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><text x="28.171875" y="181" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">40</tspan></text><path fill="none" stroke="#aaaaaa" d="M40.671875,181H565.328125" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="28.171875" y="142" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="142" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></tspan></text><path fill="none" stroke="#aaaaaa" d="M40.671875,142H565.328125" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="28.171875" y="103" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">63</tspan></text><path fill="none" stroke="#aaaaaa" d="M40.671875,103H565.328125" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="28.171875" y="64" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="64" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></tspan></text><path fill="none" stroke="#aaaaaa" d="M40.671875,64H565.328125" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="28.171875" y="25" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">86</tspan></text><path fill="none" stroke="#aaaaaa" d="M40.671875,25H565.328125" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="477.88541666666663" y="193.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2015-09-06</tspan></text><text x="303" y="193.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2015-09-04</tspan></text><text x="128.11458333333331" y="193.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2015-09-02</tspan></text><path fill="none" stroke="#ffd6b6" d="M40.671875,79.26086956521739C62.53255208333333,75.02173913043478,106.25390624999999,53.826086956521735,128.11458333333331,62.30434782608695C149.97526041666666,70.78260869565217,193.69661458333331,147.08695652173913,215.55729166666666,147.08695652173913C237.41796875,147.08695652173913,281.1393229166667,62.30434782608695,303,62.30434782608695C324.8606770833333,62.30434782608695,368.58203125,147.08695652173913,390.4427083333333,147.08695652173913C412.30338541666663,147.08695652173913,456.0247395833333,77.56521739130434,477.88541666666663,62.30434782608695C499.74609375,47.043478260869556,543.4674479166666,34.326086956521735,565.328125,25" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><circle cx="40.671875" cy="79.26086956521739" r="4" fill="#fe9e50" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="128.11458333333331" cy="62.30434782608695" r="4" fill="#fe9e50" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="215.55729166666666" cy="147.08695652173913" r="4" fill="#fe9e50" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="303" cy="62.30434782608695" r="4" fill="#fe9e50" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="390.4427083333333" cy="147.08695652173913" r="4" fill="#fe9e50" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="477.88541666666663" cy="62.30434782608695" r="4" fill="#fe9e50" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="565.328125" cy="25" r="4" fill="#fe9e50" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle></svg><div class="morris-hover morris-default-style" style="left: 89.4193px; top: 72px; display: none;"><div class="morris-hover-row-label">2015-09-02</div><div class="morris-hover-point" style="color: rgb(255, 214, 182)">
                                                                        Visits:
                                                                        75
                                                                    </div></div></div>
                                                        </div>
                                                        <div role="tabpanel" class="tab-pane fade" id="downloads">
                                                            <p class="title-description"> Number of downloads last 30 days </p>
                                                            <div id="dashboard-downloads-chart"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    {% endif %}
                {% endblock content %}
            </article>
        </div>
    </div>
    </div>
{% endblock %}