{% extends 'base.html.twig' %}

{% block title %} Ebay Settings {% endblock %}

{% block body %}
    <div class="main-wrapper">
        <div class="app" id="app">
            {% include('layouts/header.html.twig') %}
            {% include('layouts/aside-nav.html.twig') %}
            <div class="sidebar-overlay" id="sidebar-overlay"></div>
            <div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
            <div class="mobile-menu-handle"></div>
            <article class="content dashboard-page">
                {% block content %}
                    {% if summaryData is knot null %}
                        <section class="section">
                            <div class="row sameheight-container">
                                <div class="col col-12 col-sm-12 col-md-6 col-xl-12 stats-col">
                                    <div class="card sameheight-item stats" data-exclude="xs">
                                        <div class="card-block">
                                            <div class="title-block">
                                                <h4 class="title"> Summary</h4>
                                            </div>
                                            <div class="card-block">
                                                <div class="col-4 col-sm-2 stat-col">
                                                    <div class="stat-icon">
                                                        <i class="fa fa-shopping-cart"></i>
                                                    </div>
                                                    <div class="stat">
                                                        <div class="value"> {{ summaryData['total_sold'] }} </div>
                                                        <div class="name"> Items sold </div>
                                                    </div>
                                                </div>
                                                <div class="col-4 col-sm-2  stat-col">
                                                    <div class="stat-icon">
                                                        <i class="fa fa-shopping-cart"></i>
                                                    </div>
                                                    <div class="stat">
                                                        <div class="value"> {{ soldToBonus['LastMonthSoldItems'] }} </div>
                                                        <div class="name"> Last Month Items sold</div>
                                                    </div>
                                                </div>
                                                <div class="col-4 col-sm-2  stat-col">
                                                    <div class="stat-icon">
                                                        <i class="fas fa-dollar-sign"></i>
                                                    </div>
                                                    <div class="stat">
                                                        <div class="value">EUR {{ soldToBonus['LastMonthSoldPrices'] }} </div>
                                                        <div class="name"> Last Month </div>
                                                    </div>
                                                </div>
                                                <div class="col-4 col-sm-2  stat-col">
                                                    <div class="stat-icon">
                                                        <i class="fas fa-chart-line"></i>
                                                    </div>
                                                    <div class="stat">
                                                        <div class="value">EUR {{ summaryData['total_sold_value'] }} </div>
                                                        <div class="name"> Monthly income </div>
                                                    </div>
                                                </div>
                                                <div class="col-4 col-sm-2  stat-col">
                                                    <div class="stat-icon">
                                                        <i class="fa fa-shopping-cart"></i>
                                                    </div>
                                                    <div class="stat">
                                                        <div class="value"> {{ soldToBonus['ThisMonthSoldItems'] }} </div>
                                                        <div class="name"> Current Month Items sold</div>
                                                    </div>
                                                </div>
                                                <div class="col-4 col-sm-2  stat-col">
                                                    <div class="stat-icon">
                                                        <i class="fa fa-rocket"></i>
                                                    </div>
                                                    <div class="stat">
                                                        <div class="value"> {{ soldToBonus['LeftToBonus'] }} </div>
                                                        <div class="name"> Left up to goal </div>
                                                    </div>
                                                    <div class="progress stat-progress">
                                                        <div class="progress-bar" style="width: {{ soldToBonus['TotalPercent'] }}%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                </div>
                            </div>
                        </section>
                        <section class="section">
                            <div class="row sameheight-container">
                                <div class="col col-12 col-sm-12 col-md-6 col-xl-6 stats-col">
                                    <div class="card sameheight-item stats" data-exclude="xs">
                                        <div class="card-block">
                                            <div class="title-block">
                                                <h4 class="title"> Profit</h4>
                                            </div>
                                            <div class="card-block">
                                                <div class="tab-content">
                                                    <profit-chart></profit-chart>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-12 col-sm-12 col-md-6 col-xl-6 stats-col">
                                    <div class="card sameheight-item stats" data-exclude="xs">
                                        <div class="card-block">
                                            <div class="title-block">
                                                <h4 class="title"> Orders Sales</h4>
                                            </div>
                                            <div class="card-block">
                                                <div class="tab-content">
                                                    <sales-chart></sales-chart>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    {% else %}
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <img src="{{ asset('img/empty-state-cart.png') }}">
                                    <h3>Nothing to show.</h3>
                                    <p>You do not have any products to sell.</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endblock content %}
            </article>
        </div>
    </div>
    </div>
{% endblock %}