{% extends 'base.html.twig' %}

{% block title %} AliExpress {% endblock %}

{% block body %}
<div class="main-wrapper">
    <div class="app" id="app">
        {% include('layouts/header.html.twig') %}
        {% include('layouts/aside-nav.html.twig') %}

        <div class="sidebar-overlay" id="sidebar-overlay"></div>
        <div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
        <div class="mobile-menu-handle"></div>
        <article class="content item-editor-page">
            <div class="title-block">
                <h3 class="title"> Edit Item
                    <span class="sparkline bar" data-type="bar"></span>
                </h3>
            </div>

            <ali-express-to-ebay :id="{{ item.id }}" inline-template>
                <form name="aliToEbay" action="{{ path('aliItemEditPost', {'id': item.id}) }}" method="POST" @submit="checkForm">
                    <input name="aliExpressProduct[id]" type="hidden" value="{{ item.id }}">
                    <div class="card card-block">
                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label text-xs-right"> Name: </label>
                            <div class="col-sm-10">
                                <input name="aliExpressProduct[title]" type="text" class="form-control boxed" value="{{ data['title']|default(item.title) }}" v-model='title'>
                                <div class="mt-3" v-cloak v-if='msg.title'>
                                    <span class="alert alert-danger">${msg.title}</span>
                                </div>
                                <div class="mt-3">
                                    {%if errorMessages['title'] is defined %}
                                        <span class="alert alert-danger">{{ errorMessages['title'] }}</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label text-xs-right"> Category: </label>
                            <div class="col-sm-10">
                                <select name="aliExpressProduct[category]" class="c-select form-control boxed" v-model='category'>
                                    <option value="1261">Baby</option>
                                    <option value="268">Books</option>
                                    <option value="27432">Cameras & Photo</option>
                                    <option value="42428">Cell Phones & Accessories</option>
                                    <option value="312">Clothing, Shoes & Accessories</option>
                                    <option value="162">Computers & Networking</option>
                                    <option value="175837">Consumer Electronics</option>
                                    <option value="41676">DVDs & Movies</option>
                                    <option value="1277">Health & Beauty</option>
                                    <option value="181076">Home & Garden</option>
                                    <option value="98863">Jewelry & Watches</option>
                                    <option value="618">Music</option>
                                    <option value="308">Musical Instruments</option>
                                    <option value="301">Pet Supplies</option>
                                    <option value="187">Video Games & Consoles</option>
                                </select>
                                <div class="mt-3" v-cloak v-if='msg.category'>
                                    <span class="alert alert-danger">${msg.category}</span>
                                </div>
                                <div class="mt-3">
                                    {%if errorMessages['category'] is defined %}
                                        <span class="alert alert-danger">{{ errorMessages['category'] }}</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label text-xs-right"> AliExpress price (USD): </label>
                            <div class="col-sm-10">
                                <div type="text" class="form-control boxed">{{ item.price }}</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label text-xs-right"> Sell price${currency}: </label>
                            <div class="col-sm-10">
                                <input name="aliExpressProduct[price]" type="number" min="0.00" step="0.01" class="form-control boxed" value="{{ data['price']|default("") }}" v-model='sellPrice'>
                                <div class="mt-3" v-cloak v-if='msg.sellPrice'>
                                    <span class="alert alert-danger">${msg.sellPrice}</span>
                                </div>
                                <div class="mt-3">
                                    {%if errorMessages['price'] is defined %}
                                        <span class="alert alert-danger">{{ errorMessages['price'] }}</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label text-xs-right"> Ebay shop country: </label>
                            <div class="col-sm-10">
                                <select name="aliExpressProduct[shopCountry]" class="c-select form-control boxed" v-model='shopCountry'>
                                    <option value="DE">Germany</option>
                                    <option value="GB">United Kingdom</option>
                                </select>
                                <div class="mt-3" v-cloak v-if='msg.shopCountry'>
                                    <span class="alert alert-danger">${msg.shopCountry}</span>
                                </div>
                                <div class="mt-3">
                                    {%if errorMessages['shopCountry'] is defined %}
                                        <span class="alert alert-danger">{{ errorMessages['shopCountry'] }}</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label text-xs-right"> Stock: </label>
                            <div class="col-sm-10">
                                <input name="aliExpressProduct[stock]" type="number" min="0" class="form-control boxed" value="{{ data['stock']|default(item.stock) }}" v-model='stock'>
                                <div class="mt-3" v-cloak v-if='msg.stock'>
                                    <span class="alert alert-danger">${msg.stock}</span>
                                </div>
                                <div class="mt-3">
                                    {%if errorMessages['stock'] is defined %}
                                        <span class="alert alert-danger">{{ errorMessages['stock'] }}</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label text-xs-right"> Description: </label>
                            <div class="col-sm-10">
                                <textarea name="aliExpressProduct[description]" class="form-control boxed" v-model="description">{{ data['description']|default(item.description) }}</textarea>
                                <div class="mt-3" v-cloak v-if='msg.description'>
                                    <span class="alert alert-danger">${msg.description}</span>
                                </div>
                                <div class="mt-3">
                                    {%if errorMessages['description'] is defined %}
                                        <span class="alert alert-danger">{{ errorMessages['description'] }}</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label text-xs-right"> Images: </label>
                            <div class="col-sm-10">
                                <div class="images-container">
                                    {% if data['image'] is defined %}
                                        {% set images = data['image'] %}
                                    {% endif %}
                                    {% for image in images %}
                                        {% if image.imageLink is defined %}
                                            {% set image = image.imageLink %}
                                        {% endif %}
                                    <div class="image-container" id="image{{loop.index0}}">
                                        <div class="controls">
                                            <a href="#" class="control-btn remove" data-toggle="modal" data-target="#confirm-modal" data-image-id="image{{loop.index0}}">
                                                <i class="fa fa-trash-alt"></i>
                                            </a>
                                        </div>
                                        <div class="image">
                                            <img src="{{ image }}">
                                            <input name="aliExpressProduct[image][{{ loop.index0 }}]" type="hidden" value="{{ image }}" v>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                {%if errorMessages['image'] is defined %}
                                    <span class="mt-3 alert alert-danger">{{ errorMessages['image'] }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10 col-sm-offset-2">
                                <button type="submit" class="btn btn-primary"> Add to Ebay </button>
                            </div>
                        </div>
                    </div>
                </form>
            </ali-express-to-ebay>
        </article>
        <div class="modal fade" id="confirm-modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <i class="fa fa-warning"></i> Alert</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure want to remove this image?</p>
                        <input type="hidden" id="deleteId" value="">
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="imageDeleteButton"class="btn btn-primary" data-dismiss="modal">Yes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </div>
</div>
<!-- Reference block for JS -->
<div class="ref" id="ref">
    <div class="color-primary"></div>
    <div class="chart">
        <div class="color-primary"></div>
        <div class="color-secondary"></div>
    </div>
</div>
{% endblock %}