<side-nav inline-template>
<aside class="sidebar">
    <div class="sidebar-container">
        <div class="sidebar-header">
            <div class="brand">
                <div class="logo">
                    <span class="l l1"></span>
                    <span class="l l2"></span>
                    <span class="l l3"></span>
                    <span class="l l4"></span>
                    <span class="l l5"></span>
                </div>
                <img src="{{ asset('img/smart.png') }}" style="width:150px;">
            </div>
        </div>
        <nav class="menu">
            <ul class="sidebar-menu metismenu" id="sidebar-menu">
                {% set route = app.request.attributes.get('_route') %}
                <li {{ route ==  'dashboard' ? 'class="active"' }}>
                    <a href="{{ path('dashboard') }}">
                        <i class="fa fa-home"></i> Dashboard </a>
                </li>
                <li {{ route ==  'plan' ? 'class="active"' }}>
                    <a href="{{ path('plan') }}">
                        <i class="fa fas fa-clipboard-list"></i> Plans </a>
                </li>
                <li {{ route == 'listing' ? 'class="active"' }}>
                    <a href="{{ path('listing') }}"><i class="fa fa-rocket"></i> Listing </a>
                </li>
                <li {{ route == 'orders' ? 'class="active"' }}>
                    <a href="{{ path('orders') }}"><i class="fa fa-shopping-cart"></i> Orders </a>
                </li>
                <li {{ route == 'ebay_statistics' ? 'class="active"' }}>
                    <a href="{{ path('ebay_statistics') }}"><i class="fas fa-dollar-sign"></i> Statistics </a>
                </li>
                <li {{ route ==  'aliExpress' ? 'class="active"' }}>
                    <a href="{{ path('aliExpress') }}">
                        <i class="fa fas fa-clipboard-list"></i> AliExpress </a>
                </li>
                <li {{ route ==  'amazon' ? 'class="active"' }}>
                    <a href="{{ path('amazon') }}">
                        <i class="fa fas fa-clipboard-list"></i> Amazon </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
</side-nav>