{% extends 'dashboard/index.html.twig' %}

{% block title %}Plans{% endblock %}

{% block content %}

<div class="row">
    {% for plan in plans %}
    <div class="col-xl-4">
        <a class="plan-link" href="{{ path("subscribe", {id: plan.id}) }}">
            <div class="card card-primary">
                <div class="card-header">
                    <div class="header-block">
                        <p class="title">{{ plan.name }}</p>
                    </div>
                </div>
                <div class="card-block">
                    <p>{{ plan.monitoredListings }} Monitored Listings</p>
                    <p>{{ plan.trackingsUploaded }} Trackings Uploaded</p>
                    <p>{{ plan.description }}</p>
                </div>
                <div class="card-footer">
                    Price {{ plan.price }} USD
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock content%}
