{% extends 'base.html.twig' %}

{% block title %} Ebay Settings {% endblock %}

{% block body %}
    <div class="main-wrapper">
        <div class="app" id="app">
            {% include('layouts/header.html.twig') %}
            {% include('layouts/aside-nav.html.twig') %}
            <div class="sidebar-overlay" id="sidebar-overlay"></div>
            <div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
            <div class="mobile-menu-handle"></div>
            <article class="content dashboard-page">
                {% block content %}
                    <section class="section">
                        <div class="row sameheight-container">
                            <div class="col col-12 col-sm-12 col-md-12 stats-col">
                                <div class="card sameheight-item stats" data-exclude="xs">
                                    <div class="card-block">
                                        <div class="title-block">
                                            <h4 class="title"> Added Ebay Account </h4>
                                        </div>
                                        <div class="row row-sm stats-container">
                                            <div class="col-12 col-sm-12 stat-col">
                                                <div class="stat-icon">
{#                                                    <form method="POST" action="ebay" name="form_auth">#}
{#                                                        <INPUT TYPE="submit" NAME="AUTHORIZE" VALUE="Launch Auth & Auth" onclick="window.open('{{ ebay_login_url }}')">#}
{#                                                        <input type="hidden" name="loginPending" value="true">#}
                                                    </form>
                                                    {% if ebay_oauth_token is null %}
                                                    <form method="POST" action="ebay/redirect-auth">
                                                        <button class="btn btn-success" type="submit">Authenticate</button>
                                                    </form>
                                                    {% else %}

                                                        You have an active ebay account

                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    {% if ebay_oauth_token is not null %}
                    <section class="section">
                        <div class="row sameheight-container">
                            <div class="col col-12 col-sm-12 col-md-12 stats-col">
                                <div class="card sameheight-item stats" data-exclude="xs">
                                    <div class="card-block">
                                        <div class="title-block">
                                            <h4 class="title"> My Selling Items </h4>
                                        </div>
                                        <div class="card items">
                                            <ul class="item-list striped">
                                                <li class="item item-list-header">
                                                    <div class="item-row">
                                                        <div class="item-col item-col-header fixed item-col-img md">
                                                            <div>
                                                                <span>Media</span>
                                                            </div>
                                                        </div>
                                                        <div class="item-col item-col-header item-col-title" style="flex-grow: 10;">
                                                            <div>
                                                                <span>Title</span>
                                                            </div>
                                                        </div>
                                                        <div class="item-col item-col-header item-col-sales">
                                                            <div>
                                                                <span>Price</span>
                                                            </div>
                                                        </div>
                                                        <div class="item-col item-col-header item-col-stats">
                                                            <div class="no-overflow">
                                                                <span>Stock</span>
                                                            </div>
                                                        </div>
                                                        <div class="item-col item-col-header item-col-date">
                                                            <div>
                                                                <span>Expired</span>
                                                            </div>
                                                        </div>
                                                        <div class="item-col item-col-header fixed item-col-actions-dropdown"> </div>
                                                    </div>
                                                </li>
                                                {% for item in my_ebay_items %}
                                                <li class="item">
                                                    <div class="item-row">
                                                        <div class="item-col fixed item-col-img md">
                                                            <a href="item-editor.html">
                                                                <div class="item-img rounded" style="background-image: url(https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg)"></div>
                                                            </a>
                                                        </div>
                                                        <div class="item-col pull-left col-lg-5 item-col-title">
                                                            <div class="item-heading">Title</div>
                                                            <div>
                                                                <a href="item-editor.html" class="">
                                                                    <h4 class="item-title"> {{ item.Title }}</h4>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="item-col item-col-sales">
                                                            <div class="item-heading">Price</div>
                                                            <div>
                                                                {{ item.SellingStatus.CurrentPrice.currencyID }}
                                                                {{ item.SellingStatus.CurrentPrice.value }}
                                                            </div>
                                                        </div>
                                                        <div class="item-col item-col-stats no-overflow">
                                                            <div class="item-heading">Stock</div>
                                                            <div class="no-overflow ml-lg-4">
                                                                <div>{{ item.Quantity }}</div>
                                                            </div>
                                                        </div>
                                                        <div class="item-col item-col-date">
                                                            <div class="item-heading">Expired</div>
                                                            <div class="no-overflow"> {{ item.ListingDuration }}</div>
                                                        </div>
                                                        <div class="item-col fixed item-col-actions-dropdown">
                                                            <div class="item-actions-dropdown">
                                                                <a class="item-actions-toggle-btn">
                                                                    <span class="inactive">
                                                                        <i class="fa fa-cog"></i>
                                                                    </span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    {% endif %}
                {% endblock content %}
            </article>
        </div>
    </div>
    </div>
{% endblock %}
