{% extends 'base.html.twig' %}

{% block title %} User Dashboard {% endblock %}

{% block body %}
    <div class="main-wrapper">
        <div class="app" id="app">
            {% include('layouts/header.html.twig') %}
            {% include('layouts/aside-nav.html.twig') %}
            <div class="sidebar-overlay" id="sidebar-overlay"></div>
            <div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
            <div class="mobile-menu-handle"></div>
            <article class="content dashboard-page">
                {% block content %}
                    <div class="card card-block sameheight-item">
                        <div class="title-block">
                            <h3 class="title">
                                Add product
                            </h3>
                        </div>
                        {{ form_start(itemInputForm) }}
                        <div class="row form-group">
                            <div class="col-md-12">
                                {{ form_row(itemInputForm.importLink, { 'attr': {'class': 'form-control', 'type': 'text'} }) }}
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-8">
                                {{ form_row(itemInputForm.importSource, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                            <div class="col-md-4 d-flex justify-content-center align-items-center">
                                {{ form_row(itemInputForm.save, { 'attr': {'class': 'btn btn-success'} }) }}
                            </div>
                        </div>
                        {{ form_end(itemInputForm) }}
                    </div>
                {% endblock content %}
            </article>
        </div>
        {% include('layouts/footer.html.twig') %}
    </div>
{% endblock %}
