{% extends 'base.html.twig' %}

{% block title %}Item{% endblock %}

{% block body %}
    <h1>Item</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ item.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ item.title }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ item.category }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ item.price }}</td>
            </tr>
            <tr>
                <th>Sell_price</th>
                <td>{{ item.sellPrice }}</td>
            </tr>
            <tr>
                <th>Qty</th>
                <td>{{ item.qty }}</td>
            </tr>
            <tr>
                <th>Brand</th>
                <td>{{ item.brand }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ item.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('item_index') }}">back to list</a>

    <a href="{{ path('item_edit', {'id': item.id}) }}">edit</a>

    {{ include('item/_delete_form.html.twig') }}
{% endblock %}
